<h1>hello world</h1>
<%= link_to("new person", new_user_path) %>
<ul>
  <% @users.each do |user| %>
  <li>
    name: <%= user.name %><br>
    hobby: <%= user.hobby %>
    <%= user.dogs.length %>
  </li>
  <% end %>
</ul>
